{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-space"id="form-wrap">
            <form id ="form" action="#">
                <div id="acc-info">

                </div>
                <div id="shipping-info">

                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">

            </form>

        </div>

    </div>
    <div class="col-lg-6">
        <div class="box-space">

        </div>

    </div>
</div>
{% endblock content %}