{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-space"id="form-wrap">
            <form id ="form" action="#">
                <div id="acc-info">
                    
                    <p>User Info:</p>
                    <hr>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="name" placeholder="Name...">

                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="email" placeholder="Email...">
                    </div>

                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Info:</p>
                    <hr>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="address" placeholder="Address...">
                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="city" placeholder="City...">
                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="county/state" placeholder="County/State...">
                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="postcode/zipcode" placeholder="Postcode/Zipcode...">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">

            </form>

        </div>
        <br>
        <div class="box-space hidden" id="payment-info">
            <small>Payment Options</small>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="box-space">

        </div>

    </div>
</div>
{% endblock content %}