{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-space"id="form-wrap">
            <form id ="form" action="#">
                {% csrf_token %}
                <div id="acc-info">
                    
                    <p>User Info:</p>
                    <hr>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="name" placeholder="Name...">

                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="email" placeholder="Email...">
                    </div>

                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Info:</p>
                    <hr>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="address" placeholder="Address...">
                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="city" placeholder="City...">
                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="county/state" placeholder="County/State...">
                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="postcode/zipcode" placeholder="Postcode/Zipcode...">
                    </div>
                    <div class="formfield">
                        <input required class="form-inputs"type="text" name="country" placeholder="Country...">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">

            </form>

        </div>
        <br>
        <div class="box-space hidden" id="payment-info">
            <small>Payment Options</small>
            <button class="btn btn-success btn-block" id="make-payment">Purchase</button>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="box-space">
            <a class="btn btn-outline-dark"href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary:</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="small-product-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>£{{item.product.price}}</p></div>
					<div style="flex:1">
						<p class="quantity">x{{item.quantity}}</p>

            </div>
            {% endfor %}
            

        </div>
        <h5>Items: {{order.get_cart_items}}</h5>
        <hr>
        <h5> Total: £{{order.get_cart_total|floatformat:2}}</h5>

    </div>
</div>

<script type="text/javascript" >

    var shipping = '{{order.shipping}}'
    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }
    var total = '{{order.get_cart_total|floatformat:2}}'
    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
       
    }
    if(shipping == 'False' && user != 'AnonymousUser'){
        document.getElementById('form-wrap').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');


    }

    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log("form sent")
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('purchase,has been clicked')
        var userFormData = {
            'name':null,
            'email':null,
            'total':total,


        }
        var shippingInfo = {
            'address':null,
            'city':null,
            'county':null,
            'postcode':null,
            'country':null

        }
        if (shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.county = form.county/state.value
            shippingInfo.postcode
            shippingInfo.country
        }
    }



</script>
{% endblock content %}