{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class= "thumbnail" src="{% static 'images/product-holder.png' %}" alt="product-holder">
        <div class= "box-space product">
          <h6>Product placement </h6>
          <br>
        </div>
    </div>
    <div class="col-lg-4">
        <img class= "thumbnail" src="{% static 'images/product-holder.png' %}" alt="product-holder">
        <div class= "box-space product">
            <h6>Product placement </h6>
            <br>
        </div> 
    </div>

    <div class="col-lg-4">
        <img class= "thumbnail" src="{% static 'images/product-holder.png' %}" alt="product-holder">
        <div class= "box-space product">
            <h6>Product placement </h6>
            <br>
      </div>
    </div>

</div>

{% endblock content %}