{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class= "box-space product">
          <img src="{% static 'images/product-holder.png' %}" alt="product-holder">
        </div>
    </div>
    <div class="col-lg-4">
        <div class= "box-space product">
            <img src="{% static 'images/product-holder.png' %}" alt="product-holder">
        </div> 
    </div>

    <div class="col-lg-4">
      <div class= "box-space product">
        <img src="{% static 'images/product-holder.png' %}" alt="product-holder">
      </div>
    </div>

</div>

{% endblock content %}